<button class="topcoat-button right back pull-right"><span class="icomatic icon">tileview</span></button>
<div class="menu" ng-class="{closed: show}">
    <div class="topcoat-list">
        <h3 class="topcoat-list__header">Меню</h3>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item topcoat-list__item__helper" ng-click="profile()">
                Профиль
            </li>
            <li class="topcoat-list__item topcoat-list__item__helper" ng-click="order()">
                Поручения
            </li>
            <li class="topcoat-list__item topcoat-list__item__helper" ng-click="protocol()">
                Протоколы
            </li>
            <li class="topcoat-list__item topcoat-list__item__helper" ng-click="about()">
                О приложении
            </li>
            <li class="topcoat-list__item topcoat-list__item__helper" ng-click="exit()">
                Выход
            </li>
        </ul>
    </div>
</div>
